-e .
    # via -r requirements-dev.in
flake8==3.0.3
    # via -r requirements-dev.in
isort==4.2.5
    # via -r requirements-dev.in
mccabe==0.5.2
    # via flake8
pep257==0.7.0
    # via -r requirements-dev.in
pep8-naming==0.4.1
    # via -r requirements-dev.in
pycodestyle==2.0.0
    # via flake8
pyflakes==1.2.3
    # via flake8
