-e .
base58==0.2.3
boto3==1.4.0              # via zappa
botocore==1.4.37          # via boto3, zappa
Django==1.9.8
docutils==0.12            # via botocore, zappa
filechunkio==1.8          # via zappa
flake8==3.0.3
futures==3.0.5            # via zappa
isort==4.2.5
jmespath==0.9.0           # via boto3, botocore, zappa
lambda-packages==0.6.1    # via zappa 
mccabe==0.5.2             # via flake8
nose==1.3.7               # via zappa
pep257==0.7.0
pep8-naming==0.4.1
pep8==1.7.0               # via flake8
placebo==0.8.1            # via zappa
pyflakes==1.2.3           # via flake8
python-dateutil==2.5.3    # via botocore, zappa
requests==2.10.0           # via zappa
six==1.10.0               # via python-dateutil, zappa
tqdm==4.8.3               # via zappa
wheel==0.29.0             # via zappa
wsgi-request-logger==0.4.5  # via zappa
zappa==0.19.5
